            </tbody>
            <tfoot>
            <tr><td id="search-message" colspan="2">No binary matches...</td></tr>
        </tfoot>
    </table>
</div>

        <script>
         function filter(query) {
             var queryArray = query.toLowerCase().trim().split(/ *\+/);
             var binPattern = queryArray[0];
             var functionPatterns = queryArray.splice(1);

             // filter rows
             var noResults = true;
             document.querySelectorAll('#bin-table tbody tr').forEach(function (row) {
                 var show = true;

                 var binName = row.children[0].firstElementChild.innerText.toLowerCase();
                 if (binName.indexOf(binPattern) === -1) {
                     show = false;
                 }

                 if (show) {
                     var functionElems = Array.from(row.children[1].firstElementChild.children);
                     functionElems.forEach((item) => {
                         item.className = '';
                     });
                     functionPatterns.forEach((pattern) => {
                         // skip empty filters
                         if (!pattern) {
                             return;
                         }
                         // check against the pattern
                         var noMatches = true;
                         functionElems.forEach((item) => {
                             if (item.innerText.toLowerCase().startsWith(pattern.toLowerCase())) {
                                 item.className = 'match';
                                 noMatches = false;
                             }
                         });
                         // no function satisfies the pattern
                         if (noMatches) {
                             show = false;
                         }
                     });
                 }

                 if (show) {
                     row.style.display = '';
                     noResults = false;
                 } else {
                     row.style.display = 'none';
                 }
             });

             // update the search message visibility
             var searchMessage = document.getElementById('search-message');
             searchMessage.style.display = noResults ? 'table-cell' : 'none';
         }

         function applyFilter() {
             // filter on load according to the URL
             var searchBox = document.getElementById('bin-search');
             var query = decodeURIComponent(location.hash.slice(1));
             filter(query);
             if (query) {
                 searchBox.value = query;
             }
         }

         function setup() {
             var searchBox = document.getElementById('bin-search');

             // ensure height during filtering
             var binTableWrapper = document.getElementById('bin-table-wrapper');
             binTableWrapper.style.height = binTableWrapper.clientHeight + 'px';

             // handle user input
             searchBox.addEventListener('input', function () {
                 var query = searchBox.value;
                 history.replaceState(null, null, '#' + query);
                 applyFilter();
             });

             // handle shortcuts
             addEventListener('keydown', function (event) {
                 // focus search box on valid keydown
                 if (event.key.toLowerCase().match(/^[+a-z]$/) &&
                     !(event.ctrlKey || event.altKey || event.metaKey)) {
                     searchBox.focus();
                     searchBox.parentElement.scrollIntoView();
                 }
                 // clear filter on escape
                 else if (event.key === 'Escape') {
                     location.hash = searchBox.value = '';
                     searchBox.focus();
                     searchBox.parentElement.scrollIntoView();
                 }
             });

             // handle URL changes
             window.onhashchange = applyFilter;

             // trigger filter on page load
             applyFilter();
         }

         setup();
        </script>
        <script>
         // add permalink on headings
         document.querySelectorAll('h2, h3, h4, h5, h5').forEach((heading) => {
             const link = document.createElement('a');
             link.className = 'permalink';
             link.href = `#${heading.id}`;
             heading.appendChild(link);
         });
        </script>
    </body>
</html>
