

        <script>
         // add permalink on headings
         document.querySelectorAll('h2, h3, h4, h5, h5').forEach((heading) => {
             const link = document.createElement('a');
             link.className = 'permalink';
             link.href = `#${heading.id}`;
             heading.appendChild(link);
         });
        </script>
    </body>
</html>